.ev-events-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

#events {
  padding: 10px 0 20px 0;
  width: 100%;
}

#events .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.events-title-section {
  font-size: 36px;
  color: var(--ev-white-color);
  padding: 10px 0;
  background-color: var(--ev-maroon-color);
  width: 100%;
  text-align: center;
}

.error-events{
    margin: 70px 0;
}
